.image-list-section {
    padding-top: 15px;
}

.image-list-section .section-title {
    margin: 0;
    padding-top: 15px;
}

.image-list .image-wrapper {
    margin-top: 15px;
}

.image-list .image-section {
    height: 200px;
    overflow: hidden;
    backface-visibility: hidden;
}

.hover-effect {
    overflow: hidden;
}